dokument/src/main/resources/xsd/foreldrepenger_000061.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
		   elementFormDefault="qualified"
           targetNamespace="http://nav.no/foreldrepenger/integrasjon/dokument/innvilget/foreldrepenger"
           xmlns:felles="http://nav.no/foreldrepenger/integrasjon/dokument/felles"
           xmlns="http://nav.no/foreldrepenger/integrasjon/dokument/innvilget/foreldrepenger"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import namespace="http://nav.no/foreldrepenger/integrasjon/dokument/felles" schemaLocation="foreldrepenger_felles.xsd"/>

    <xs:element name="brevdata" type="brevdataType"/>

    <xs:complexType name="brevdataType">
        <xs:sequence>
            <xs:element type="felles:fellesType" name="felles"/>
            <xs:element type="fagType" name="fag"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fagType">
        <xs:all>
            <xs:element type="behandlingsTypeKode" name="behandlingsType"/>
            <xs:element type="felles:nonEmptyStringType" name="sokersNavn"/>
            <xs:element type="personstatusKode" name="personstatus"/>
            <xs:element type="relasjonskodeKode" name="relasjonskode"/>
            <xs:element type="behandlingsResultatKode" name="behandlingsResultat"/>
            <xs:element type="xs:boolean" name="overbetaling"/>
            <xs:element type="xs:date" name="mottattDato"/>
            <xs:element type="xs:integer" name="dekningsgrad"/>
            <xs:element type="xs:long" name="dagsats"/>
            <xs:element type="xs:long" name="månedsbeløp"/>
            <xs:element type="xs:date" name="stønadsperiodeFom"/>
            <xs:element type="xs:date" name="stønadsperiodeTom"/>
            <xs:element type="xs:long" name="totalBrukerAndel"/>
            <xs:element type="xs:long" name="totalArbeidsgiverAndel"/>
            <xs:element type="xs:integer" name="antallArbeidsgivere"/>
            <xs:element type="xs:boolean" name="annenForelderHarRett"/>
            <xs:element type="vurderingsstatusKode" name="aleneomsorg"/>
            <xs:element type="xs:integer" name="antallBarn"/>
            <xs:element type="xs:boolean" name="barnErFødt"/>
            <xs:element type="xs:boolean" name="gjelderFoedsel"/>
            <xs:element type="xs:integer" name="dagerTaptFørTermin"/>
            <xs:element type="xs:integer" name="antallPerioder"/>
            <xs:element type="xs:boolean" name="avslagFinnes"/>
            <xs:element type="xs:boolean" name="innvilgetFinnes"/>
            <xs:element type="xs:date" name="sisteDagIFellesPeriode" minOccurs="0"/>
            <xs:element type="xs:date" name="sisteUtbetalingsdag" minOccurs="0"/>
            <xs:element type="xs:date" name="sisteDagMedUtsettelse" minOccurs="0"/>
            <xs:element type="xs:integer" name="foreldrepengeperiodenUtvidetUker" minOccurs="0"/>
            <xs:element type="periodeListeType" name="periodeListe"/>
            <xs:element type="xs:integer" name="disponibleDager"/>
            <xs:element type="xs:date" name="sisteDagAvSistePeriode"/>
            <xs:element type="xs:long" name="seksG"/>
            <xs:element type="xs:boolean" name="inntektOverSeksG"/>
            <xs:element type="xs:integer" name="klageFristUker"/>
            <xs:element type="lovhjemmelType" name="lovhjemmel"/>
            <xs:element type="konsekvensForYtelseKode" name="konsekvensForYtelse"/>
            <xs:element type="beregningsgrunnlagRegelListeType" name="beregningsgrunnlagRegelListe"/>
            <xs:element type="felles:nonEmptyStringType" name="fritekst" minOccurs="0"/>
            <xs:element type="xs:boolean" name="inntektMottattArbgiver"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="periodeListeType">
        <xs:sequence>
            <xs:element type="periodeType" name="periode" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="periodeType">
        <xs:all>
            <xs:element type="xs:boolean" name="innvilget"/>
            <xs:element type="årsakKode" name="årsak"/>
            <xs:element type="xs:date" name="periodeFom"/>
            <xs:element type="xs:date" name="periodeTom"/>
            <xs:element type="xs:integer" name="antallTapteDager"/>
            <xs:element type="arbeidsforholdListeType" name="arbeidsforholdListe" minOccurs="0"/>
            <xs:element type="næringListeType" name="næringListe" minOccurs="0"/>
            <xs:element type="annenAktivitetListeType" name="annenAktivitetListe" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="arbeidsforholdListeType">
        <xs:sequence>
            <xs:element type="arbeidsforholdType" name="arbeidsforhold" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="næringListeType">
        <xs:sequence>
            <xs:element type="næringType" name="næring"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="annenAktivitetListeType">
        <xs:sequence>
            <xs:element type="annenAktivitetType" name="annenAktivitet" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="arbeidsforholdType">
        <xs:sequence>
            <xs:element type="xs:string" name="arbeidsgiverNavn"/>
            <xs:element type="xs:long" name="arbeidsgiverAndel"/>
            <xs:element type="xs:long" name="brukerAndel"/>
            <xs:element type="xs:boolean" name="gradering"/>
            <xs:element type="xs:integer" name="uttaksgrad"/>
            <xs:element type="xs:integer" name="prosentArbeid"/>
            <xs:element type="xs:integer" name="stillingsprosent"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="næringType">
        <xs:sequence>
            <xs:element type="xs:long" name="brukerAndel"/>
            <xs:element type="xs:boolean" name="gradering"/>
            <xs:element type="xs:integer" name="uttaksgrad"/>
            <xs:element type="xs:integer" name="prosentArbeid"/>
            <xs:element type="xs:integer" name="sistLignedeÅr"/>
            <xs:element type="xs:long" name="inntekt1"/>
            <xs:element type="xs:long" name="inntekt2"/>
            <xs:element type="xs:long" name="inntekt3"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="annenAktivitetType">
        <xs:sequence>
            <xs:element type="statusTypeKode" name="aktivitetType"/>
            <xs:element type="xs:long" name="brukerAndel"/>
            <xs:element type="xs:boolean" name="gradering"/>
            <xs:element type="xs:integer" name="uttaksgrad"/>
            <xs:element type="xs:integer" name="prosentArbeid"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="lovhjemmelType">
        <xs:sequence>
            <xs:element type="xs:string" name="vurdering"/>
            <xs:element type="xs:string" name="beregning"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="beregningsgrunnlagRegelListeType">
        <xs:sequence>
            <xs:element type="beregningsgrunnlagRegelType" name="beregningsgrunnlagRegel" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="beregningsgrunnlagRegelType">
        <xs:sequence>
            <xs:element type="statusTypeKode" name="regelStatus"/>
            <xs:element type="tilstøtendeYtelseKode" name="tilstøtendeYtelse" minOccurs="0"/>
            <xs:element type="xs:integer" name="antallArbeidsgivereIBeregning"/>
            <xs:element type="xs:boolean" name="navBetalerRestbeløp" minOccurs="0"/>
            <xs:element type="andelListeType" name="andelListe"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="andelListeType">
        <xs:sequence>
            <xs:element type="andelType" name="andel" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="andelType">
        <xs:sequence>
            <xs:element type="statusTypeKode" name="status"/>
            <xs:element type="xs:string" name="arbeidsgiverNavn" minOccurs="0"/>
            <xs:element type="xs:long" name="dagsats"/>
            <xs:element type="xs:long" name="månedsinntekt"/>
            <xs:element type="xs:long" name="årsinntekt"/>
            <xs:element type="xs:long" name="sisteLignedeÅr" minOccurs="0"/>
            <xs:element type="xs:long" name="pensjonsgivendeInntekt" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="tilstøtendeYtelseKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="SYK_FØR_FP">
                <xs:annotation>
                    <xs:documentation>Skal komme når bruker har mottatt sykepenger før foreldrepenger.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PLEIE_FØR_FP">
                <xs:annotation>
                    <xs:documentation>	Skal komme når bruker har mottatt pleiepenger før foreldrepenger.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SVANGER_FØR_FP">
                <xs:annotation>
                    <xs:documentation>Skal komme når bruker har mottatt svangerskapspenger før foreldrepenger. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FP_FØR_FP">
                <xs:annotation>
                    <xs:documentation>Skal komme når bruker fra en periode med foreldrepenger og direkte over i en ny.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARB_8-49">
                <xs:annotation>
                    <xs:documentation>Skal kun komme til kvinner som føder, og både er arbeidstaker og mottar dagpenger eller sykepenger etter §8-49 før foreldrepenger.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="behandlingsTypeKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="FOERSTEGANGSBEHANDLING">
                <xs:annotation>
                    <xs:documentation>Førstegangsbehandling</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REVURDERING">
                <xs:annotation>
                    <xs:documentation>Revurdering</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KLAGE">
                <xs:annotation>
                    <xs:documentation>Klagebehandling</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="personstatusKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="DOD">
                <xs:annotation>
                    <xs:documentation>Bruker som har søkt er død og brevet sendes til dødsboet</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ANNET">
                <xs:annotation>
                    <xs:documentation>Annet</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="relasjonskodeKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="MOR">
                <xs:annotation>
                    <xs:documentation>Brukeren har rolle som mor til barnet/barna</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAR">
                <xs:annotation>
                    <xs:documentation>Far</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MEDMOR">
                <xs:annotation>
                    <xs:documentation>Medmor</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="behandlingsResultatKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="INNVILGET">
                <xs:annotation>
                    <xs:documentation>Innvilget</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLÅTT">
                <xs:annotation>
                    <xs:documentation>Avslått</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPPHØR">
                <xs:annotation>
                    <xs:documentation>Opphør</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FORELDREPENGER_ENDRET">
                <xs:annotation>
                    <xs:documentation>Foreldrepenger_endret</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INGEN_ENDRING">
                <xs:annotation>
                    <xs:documentation>INGEN_ENDRING</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="vurderingsstatusKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="JA">
                <xs:annotation>
                    <xs:documentation>Er vurdert til ja (true)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NEI">
                <xs:annotation>
                    <xs:documentation>Er vurdert til nei (false)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IKKE_VURDERT">
                <xs:annotation>
                    <xs:documentation>Er ikke vurdert</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="årsakKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="INGEN">
                <xs:annotation>
                    <xs:documentation>Ingen detaljert årsak (bare ved innvilget periode)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SØKT_FOR_SENT">
                <xs:annotation>
                    <xs:documentation>Denne skal komme hver gang bruker mister dager fordi søknaden er kommet inn for sent og når det ikke er søkt om utsettelse, overføring av kvote eller gradering. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FP_100">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker får 100% foreldrepenger. - Burde denne heller byttes ut med en sjekk på "dekningsgrad = 100" ?</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UTSATT_FERIE">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker får utsatt foreldrepengene pga. ferie.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UTSATT_JOBB100">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker får utsatt foreldrepengene pga. 100% arbeid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UTSATT_HELSEINST">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker får utsatt foreldrepengene pga. innleggelse i helseinstitusjon.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UTSATT_BARN_HELSEINST">
                <xs:annotation>
                    <xs:documentation>Skal komme når bruker får utsatt foreldrepengene pga. at barnet er innlagt i helseinstitusjon.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UTSATT_SYK">
                <xs:annotation>
                    <xs:documentation>Skal komme når bruker får utsettelse pga. bruker er syk.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_02">
                <xs:annotation>
                    <xs:documentation>Den skal kun komme når det er oppholde mellom periodene til uttaket til foreldrene, og søker er far.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_03">
                <xs:annotation>
                    <xs:documentation>Den skal kun komme når det er oppholde mellom periodene til uttaket til foreldrene og søker er medmor.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_04">
                <xs:annotation>
                    <xs:documentation>Den skal kun komme når det er oppholde mellom periodene til uttaket til en eller begge foreldrene., og det er etter siste dag det ble utbetalt foreldrepenger. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_05">
                <xs:annotation>
                    <xs:documentation>Den skal kun komme når det er oppholde mellom periodene til uttaket til en eller begge foreldrene, og det er etter siste dag med utsettelse. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_06">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke har omsorg for barnet.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_07">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga. ikke avtalt ferie.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_08">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når utsettelse pga. ferie til en selvstendig næringsdrivende er avslått. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_09">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga. at barnet ikke er innlagt.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_10">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga. at bruker ikke er innlagt.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_11">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga.at bruker ikke jobber 100%.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_12">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga. at bruker har søkt om utsettelse for tidlig.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_13">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får utsatt foreldrepengene pga.at bruker ikke er helt avhengig av hjelp til å ta seg av barnet. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_14">
                <xs:annotation>
                    <xs:documentation>Skal komme når det er søkt om gradering etter at barnet er født, men før det har gått 6 uker etter fødsel.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_15">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på gradering fordi bruker jobber 100%.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_16">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får gradere fordi det er søkt for sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_17">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når bruker ikke får gradere fordi bruker ikke jobber.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_18">
                <xs:annotation>
                    <xs:documentation>Skal komme når det er opplyst at den andre forelderen tar ut sin kvote.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_19">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke jobber.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_20">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke studerer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_21">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke både jobber og studerer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_22">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke er innlagt i helseinstitusjon.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_23">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke deltar i introduksjonsprogrammet.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_24">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke deltar i kvalifiseringsprogrammet.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_25">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når det er far/medmor som søker og mor ikke mottar uføretrygd.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_26">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når foreldrepengene avslås fordi den andre forelderen ikke er helt avhengig av hjelp til å ta seg av barnet. Og det er mor som har søkt.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_27">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når foreldrepengene avslås fordi den andre forelderen ikke er helt avhengig av hjelp til å ta seg av barnet. Og det er far eller medmor som har søkt.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_28">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når foreldrepengene avslås fordi den andre forelderen ikke er innlagt.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_29">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på utsettelse pga. av uttak av ferie på helligdager.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_30">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi har redusert foreldrepengene fordi bruker ikke har søkt om gradert uttak, eller søkt for sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_31">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på utsettelse fordi bruker har søkt for sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_32">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på overføring av kvote til den andre forelderen fordi vedkommende ikke er innlagt i helseinstitusjon. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_33">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på overføring av kvote til den andre forelderen fordi vedkommende ikke har aleneomsorg for barnet. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_34">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på overføring av kvote til den andre forelderen fordi vedkommende ikke er helt avhengig av hjelp til å ta seg av barnet. Gjelder kun for mor og medmor.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_35">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på overføring av kvote til den andre forelderen fordi vedkommende ikke er helt avhengig av hjelp til å ta seg av barnet. Gjelder kun for far.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_36">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på overføring av kvote fordi den andre forelderen har rett til foreldrepenger. Gjelder kun for mor og medmor.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_37">
                <xs:annotation>
                    <xs:documentation>Skal komme når det gis avslag på overføring av kvote fordi den andre forelderen har rett til foreldrepenger. Gjelder kun for far.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_38">
                <xs:annotation>
                    <xs:documentation>Skal komme når hele stønadsperioden er brukt opp.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_39">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om utsettelse på grunn v manglende dokumentasjon.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_40">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om å kombinere foreldrepenger med arbeid på grunn av manglende dokumentasjon.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_41">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om å overta kvoten til den andre forelderen på grunn av manglende dokumentasjon.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVSLAG_42">
                <xs:annotation>
                    <xs:documentation>Skal kun komme når vi avslår en periode om med aktivitetskrav til mor grunn av manglende dokumentasjon.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FØDSEL">
                <xs:annotation>
                    <xs:documentation>Skal komme når maksdato på foreldrepengeperioden er endret. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INNVILGET_01">
                <xs:annotation>
                    <xs:documentation>Skal komme når mor overtar kvoten til den andre forelderen fordi far eller medmor ikke har rett til foreldrepenger. Gjelder kun ved innvilgelse, helt eller delvis og ved avslag på endringssøknad.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INNVILGET_02">
                <xs:annotation>
                    <xs:documentation>Skal komme når mor overtar kvoten til den andre forelderen fordi far eller medmor er innlagt i helseinstitusjon. Gjelder kun ved innvilgelse, helt eller delvis og ved avslag på endringssøknad.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INNVILGET_03">
                <xs:annotation>
                    <xs:documentation>
                        Skal komme når mor overtar kvoten til den andre forelderen fordi far eller medmor er helt avhengig av hjelp til å ta seg av barnet. Gjelder kun ved innvilgelse, helt eller delvis og ved avslag på endringssøknad.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INNVILGET_04">
                <xs:annotation>
                    <xs:documentation>Skal komme når mor overtar kvoten til den andre forelderen fordi far eller medmor har overtatt omsorgen for barnet. Gjelder kun ved innvilgelse, helt eller delvis og ved avslag på endringssøknad.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="lovhjemmelForVurderingKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="100000000">
                <xs:annotation>
                    <xs:documentation>Vedtaket er gjort etter folketrygdloven § 14-6.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="lovhjemmelForBeregningKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="1000000000">
                <xs:annotation>
                    <xs:documentation>Beregningen er gjort etter folketrygdloven § 14-7.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="statusTypeKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ARBEIDSTAKER">
                <xs:annotation>
                    <xs:documentation>(AT) Arbeidsinntekt eller tilsvarende</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FRILANSER">
                <xs:annotation>
                    <xs:documentation>(FL) Frilanser</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SELVSTENDIG_NÆRINGSDRIVENDE">
                <xs:annotation>
                    <xs:documentation>(SN)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KOMBINERT_AT_FL">
                <xs:annotation>
                    <xs:documentation>Kombinasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KOMBINERT_AT_SN">
                <xs:annotation>
                    <xs:documentation>Kombinasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KOMBINERT_FL_SN">
                <xs:annotation>
                    <xs:documentation>Kombinasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KOMBINERT_AT_FL_SN">
                <xs:annotation>
                    <xs:documentation>Kombinasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KOMBINERT_AT_FL_SN">
                <xs:annotation>
                    <xs:documentation>Kombinasjon</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DAGPENGER">
                <xs:annotation>
                    <xs:documentation>Dagpengemottaker</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARBEIDSAVKLARINGSPENGER">
                <xs:annotation>
                    <xs:documentation>AAP-mottaker</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MILITÆR_ELLER_SIVIL">
                <xs:annotation>
                    <xs:documentation>Inntekt fra militær- eller siviltjeneste</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TILSTØTENDE_YTELSE">
                <xs:annotation>
                    <xs:documentation>Inntekt fra annen tilstøtende ytelse</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="konsekvensForYtelseKode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="FORELDREPENGER_OPPHØRER">
                <xs:annotation>
                    <xs:documentation>FORELDREPENGER_OPPHØRER</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDRING_I_BEREGNING">
                <xs:annotation>
                    <xs:documentation>ENDRING_I_BEREGNING</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDRING_I_UTTAK">
                <xs:annotation>
                    <xs:documentation>ENDRING_I_UTTAK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDRING_I_BEREGNING_OG_UTTAK">
                <xs:annotation>
                    <xs:documentation>ENDRING_I_BEREGNING_OG_UTTAK</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDRING_I_FORDELING_AV_YTELSEN">
                <xs:annotation>
                    <xs:documentation>ENDRING_I_FORDELING_AV_YTELSEN</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INGEN_ENDRING">
                <xs:annotation>
                    <xs:documentation>INGEN_ENDRING</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
        
</xs:schema>